body {
    background-color: papayawhip;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    background-color: #003399;
    height: inherit;
    margin: 0 auto;
    padding: 10px;
}
.signIn{
  text-align: center;
}
div form div input{

  text-align: center;
  display: inline-block;

}
.employeeID{
  display: inline-block;
}
.password{
  display: inline-block;
}


.error {
    color: #ff5c5c;
    background: #ffe636;
    font-size: .9em;
    text-align: center;
    width: 230px;
    border-radius: .5em;
    border: 1px solid #ffc6c6;
    text-shadow: 0px 1px 1px white;
    display: none;
    margin: 0 auto;
}





.input-spacing {
  text-align: center;
    margin:10px auto;
}


p#brand {
    color: white;
    margin: 0 auto;
    padding: 15px 5px 15px 10px;
    display: inline-block;
    width: 47%;
}
#signUp{
  text-align: right;
  display: inline-block;
width: 47%;
color: white;
font-size: 1.2em;
margin: 0 auto;

}
p a:link {
  color:white;
  text-decoration: none;
}
p a:visited{
  color:white;
}
p a:active{
  color: white;
}
div#form-border {
    margin: 20px 0 25px 10px;
}



label {
    font: bold;
}


#submit {
  display: block;
    margin:20px auto;
    width: 150px;
}

#submit:hover {
    background-color: papayawhip;
}

#warning {
    text-align: center;
    background: #fff1b6;
    color: #c78b2b;
    display: none;
}

.overlay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:600px){
  #drop-down-menu{
    display: block;
    width:250px;

  }
  #address{
    width: 180px;
  }

}
