.center-text {
  text-align: center;
}
.logo-header{
  text-align: center;
}
.w_m{
  text-align: center;
  background-color: red;
}
.center {
  display: block;
  margin: auto;
}
.m_p{
  margin-top: 2%;
}
.s_m{
  margin: 0 auto;
}
.wrapper-before-sf {
  box-sizing: border-box !important;
  min-height: calc(100vh - 50px);
}
.sticky-footer {
  height: 50px;
  text-indent: 50px;
}

.login input {
  width: 80% !important;
  margin: 15px auto !important;
}
.login button {
  width: 80% !important;
  margin: 25px auto !important;
}
form div {
  /* width: 80%; */
  margin: auto;

}

.border {

}
.sign-up-form {
  padding-top: 9%;
}
form .signUpAccountInfoForm{
  padding-top: 0%;
}
.right {
  float: right;
}

a {
  text-decoration: none;
}

#dividing-border {
  position: absolute;
  height: 290px;
  width: 0;
  border-right: 1px solid lightgray;
  top: 0;
  right: -10px;
}

div.overlay {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	background: #000;
	top: 0px;
	opacity: 0.7;
	left: 0px;
	z-index: 899;
}

.registration-form {
	position: absolute;
  display: none;
	z-index: 900;
	background-color: #fff;
	opacity: 1;
	width: 76%;
	height: 500px;
	margin-left: 12%;
	top: 50%;
	margin-top: -250px;
	overflow-y: scroll;
	min-width: 245px;
  padding: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.error {
  display: none;
}
